<div class="column">
  <div class="header">
    <div class="title">{{ column.title }}</div>
    <button class="addCardButton" (click)="addCard()">+</button>
  </div>
  
  <div cdkDropList
      [cdkDropListData]="column.cards"
      (cdkDropListDropped)="onCardDrop($event)"
      [id]=column.title
      class="listCards"
      [cdkDropListConnectedTo]="getOtherColumnsNames()">
      <app-card [cardInformation]="card" class="card" cdkDrag *ngFor="let card of column.cards"></app-card>
  </div>
</div>